body{
    background-image: linear-gradient(to top, #A266B8, #301E4F);
    background-attachment: fixed;
    text-align: center;
    font-family: Magneto;
}

textarea{
    resize: none;
}

img{
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

h1{
    font-family: Leelawadee;
    font-size: 40px;
}

.bouttonJeux{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
}

.contact{
    font-size: 30px;
}

.bouttonInvisible{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
}

.tableau-jeux{
    margin-left: auto;
    margin-right: auto;
}

.fncs{
    height: 176px;
    width: 200px;
}

.valo{
    height: 200px;
    width: 200px;
}

.BouttonSwipe{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0;
    font-size: 50px;
}

.center{
    text-align: center;
}

.nom{
    text-align: center;
    font-size: 30px;
    font-family: Magneto;
}


.texte-principale{
    text-align: justify;
    font-size: 30px;
    font-family: Leelawadee;
    margin-left: 300px;
    margin-right: 300px;
}

.texte-histoire{
    text-align: justify;
    font-size: 30px;
    font-family: Leelawadee;
    margin-left: 100px;
    margin-right: 100px;
}

.comme{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cellule-comme{
    border:  1px black solid;
    border-collapse: collapse;
}

.tableau-comme{
    margin-left: auto;
    margin-right: auto;
    border:  1px black solid;
    border-collapse: collapse;
    font-size: 30px;
}

#name{
    width: 300px;
    height: 50px;
    background-color: #E2BACE;
    font-size: 30px;
    font-family: Magneto;
    border-radius: 50px;
}

#email{
    width: 500px;
    height: 50px;
    background-color: #E2BACE;
    font-size: 30px;
    font-family: Magneto;
    border-radius: 50px;
}


#msg{
    width: 1200px;
    height: 320px;
    background-color: #E2BACE;
    font-size: 30px;
    font-family: Leelawadee;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#send{
    width: 200px;
    height: 100px;
    background-color: #ec1983;
    font-size: 30px;
    font-family: Magneto;
    border: none;
    border-radius: 50px;
    color: black;
}

#message{
    background-color: #E2BACE;
    text-align: center;
    font-size: 30px;
    font-family: Leelawadee;
    width: 500px;
    height: 150px;
}

#nom{
    background-color: #E2BACE;
    text-align: center;
    font-size: 30px;
    font-family: Leelawadee;
    width: 200px;
}

#BouttonMessage{
    width: 200px;
    height: 50px;
    background-color: #f363a9;
    font-size: 30px;
    font-family: Magneto;
    border-radius: 50px;
    color: black;
}


#navbar{
    font-size: 20px;
}

#logo-left{
    float: left;
    margin-left: 20px;
    width: 200px;
    height: 200px;
}

#logo-right{
    float: right;
    margin-right: 20px;
    width: 200px;
    height: 200px;
}

#major{
    float: left;
    width: 900px;
    height: 600px;
    margin-top: 35px;
}

#fn{
    float: left;
    margin-top: 20px;
}

#equipe{
    float: right;
    width: 900px;
    height: 600px;
    margin-top: 120px;
    margin-bottom: 50px;
}

#paris{
    float: left;
    margin-top: 50px;
}

#lag{
    float: right;
    width: 600px;
    height: 600px;
    margin-top: 20px;
}

#ascension{
    float: right;
    width: 900px;
    height: 600px;
    margin-top: 40px;
}

#logo{
    margin-left: 200px;
    margin-right: 200px;
}

#joueur_image{
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    width: 400px;
}


#boutton-livre{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/autres/livre.jpg");
    height: 400px;
    width: 705px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#boutton-equipe{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/autres/equipe2.jpg");
    height: 400px;
    width: 705px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#rocketleague{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/rocketleague.jpg");
    height: 390px;
    width: 720px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}


#valorant{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/valorant.jpg");
    height: 390px;
    width: 720px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#cod{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/cod.jpg");
    height: 400px;
    width: 800px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#aoe{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/aoe.jpg");
    height: 590px;
    width: 480px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#fgc{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/2xko.jpg");
    height: 400px;
    width: 800px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#tft{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/tft.jpg");
    height: 590px;
    width: 480px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}


#warzone{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/warzone.jpg");
    height: 590px;
    width: 480px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#fortnite{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/fortnite.jpg");
    height: 390px;
    width: 720px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#cs{
    color: #ff02f1;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/cs.jpg");
    height: 390px;
    width: 720px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#commu{
    color: #ff02f1;
    font-size: 50px;
    font-family: Gill Sans MT;
    text-align: center;
    padding-top: 10px;
    background-image:url("./Image/jeux/commu.jpg");
    height: 390px;
    width: 680px;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#texte-commu{
    color: #B9D533;
    font-size: 50px;
    font-family: Magneto;
    text-align: center;
}